* {
    margin: 0;
    padding: 0;
    font-family:monospace;
    box-sizing: border-box;
}


/*Header*/


header {
    background-color:#eccc68;
    padding-top:3rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    width:100vw;
}

.sunflower {
    width: 10%;
   

}

.top-row {
    padding-left:4rem;
    padding-right: 4rem;
}

header img {
    float:left;
}

header  h1 {
    display:flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
    font-size: 3rem;
    padding-right:3rem;
    color:white;
}

/*Navbar inside header*/

.navbar {
    width:100%;
    height:4rem;
    
}

.navbar .navbar-section {
    display:flex;
    gap:3rem;
    justify-content: center;
}

.navbar a {
    color:white;
    text-decoration: none;
    font-size: 2rem;
}

/* Content on website, text and img*/

.content {
    padding-right:4rem;
    width:100vw;
    height: 70vh;
    background-color: #f1f2f6;
}

.logo {
    width:25%; 
    float:right;
    margin:3rem;
}

#welcome {
    padding-top:6rem;
    margin-left:3rem;
    font-size: 3rem;
    color:#eccc68;
    
}


@media only screen and (max-width: 520px) {

    body {
        background-color:#f1f2f6;
    }
    header {
        padding-left: 0;

    }

    .top-row {
        margin-left:4rem;
        padding:0;
    }


    header h1 {
        display:flex;
        justify-content: center;
        font-size:2.5rem;
    }

    .navbar a {
        font-size: 1.5rem;
        gap:2rem;
    }

    .sunflower {
        display:none;

    }

    .content {
        height:auto;
        display:flex;
        flex-direction:column-reverse;
        align-items: center;
        padding-right:0;
        margin-top: 5rem;
     
    }

    .logo {
        margin-top:5rem;
        width:50%;

    }

    #welcome {
        padding-top: 0;
        margin-top:1rem;
        font-size: 30px;
        
    }



}